<%- include("partials/header.ejs") %>

<div class="d-flex justify-content-end">
    <button>Edit</button>
</div>

<div class="d-flex justify-content-center container-fluid">
    <div class="col-5 flex-lg-row">
        <div>
            <h1 class="fw-bolder">How To Write What People Can’t Stop Reading (5 Tactics For Original Ideas)</h2>
        </div>
        <div class="my-4">
            <p>How I made my writing stand out.</p>
        </div>
        <img src="blog.png" alt="" class="w-100 my-3">
        <p class="fs-5">Ideas are what set great writers apart.

            It’s how you get an edge. For those looking to build a loyal army of fans. Ideas are your competitive advantage. Readers resonate with new thinking. It gets their brain neurons buzzing and partying.
            
            You see there’s insipid writing everywhere. The same ideas are recycled over and over. By creating something fresh. You’ll rise above this wave of tasteless content.
            
            But I’m not naturally an ideas person. Does this mean there’s no hope for my writing? I take encouragement from one of the best-selling non-fiction books in recent times.
            
            Sapiens by Yuval Noah Harari is a ridiculously popular book. Both Barack Obama and Bill Gates recommend it. Yet Harai is astonished at its success. In a New Yorker interview, he says:
            
            I thought this book is so banal. There is nothing here that is new. I’m not an archeologist. I’m not a primatologist. I mean I did zero new research.
            
            It was reading common knowledge and just presenting it in a new way.
            
            This is astonishing.
            
            Harai used existing content. He added nothing new. Yet created a best-seller that…
            
        </h4>
    </div>
</div>





<%- include("partials/footer.ejs") %>
